.searchBarDiv {
  position: relative;
}
.searchBar {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: rgb(239, 239, 239);
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
}
.deleteBtn {
  position: absolute;
  padding: 15px;
  cursor: pointer;
  height: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 25px;
  /* background-color: blue;/ */
}